@use 'src/styles/mixins';
@import 'src/styles/varibles';

.revers {
  transform: rotate(180deg);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 18px;
    height: 12px;
    display: block;
  }
}
