//fonts
$manrope: 'Manrope';

//colors
$dark-blue: #0B44CD;
$light-blue: #3470FF;
$silver: #CDCDCD;
$ebony: #121417;
$orange: #FE8400;

// sizing
$breakpoint: 1024;
$mobile-mockup: 375;
$desktop-mockup: 1440;
$desktop-finish: 1440;
