@use 'src/styles/mixins';
@import 'src/styles/varibles';

.hero {
  @include mixins.size('padding-left', 0, 128);
  @include mixins.size('padding-right', 0, 128);
  height: 100vh;
  width: 100vw;
  position: relative;
  @include mixins.for-mobile {
    height: 100%;
  }
}
.box {
  @include mixins.size('width', null, 613);
  @include mixins.size('height', null, 750);
  background-color: mixins.$dark-blue;
  position: absolute;
  top: 0;
  left: 0;
  @include mixins.for-mobile {
    display: none;
  }
}
.imgWrapper {
  @include mixins.size('width', null, 909);
  @include mixins.size('height', 320, 545);
  @include mixins.size('top', 0, 100);
  position: absolute;
  right: 0;
  @include mixins.for-mobile{
    position: relative;
    width: 100vw;
    //top: 0;
  }
}
.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

}
.textBox {
  @include mixins.size('width', 150, 528);
  @include mixins.size('height', 100, 445);
  @include mixins.size('left', 20, 170);
  @include mixins.size('padding-top', 10, 50);
  @include mixins.size('padding-right', 20, 30);
  @include mixins.size('padding-left', 5, 10);
  @include mixins.size('top', 0, 150);
  background-color: transparent;
  border: 1px solid mixins.$orange;
  position: absolute;
  z-index: 2;
  @include mixins.for-mobile {
    border: none;
    top: 0;
  }
}
.primaryText {
  @include mixins.size('font-size', 12, 55);
  @include mixins.size('margin-bottom', 20, 50);
  color: $sand;
  font-weight: 600;
  @include mixins.for-mobile {
    color: mixins.$black;
  }
}
.secondaryText {
  @include mixins.size('font-size', 10, 25);
  @include mixins.size('margin-bottom', 20, 20);
  @include mixins.size('width', 150, 400);
  color: $sand;
  font-weight: 400;
  @include mixins.for-mobile {
    display: none;
  }
}
.about {
  @include mixins.size('padding-right', 100, 160);
  @include mixins.size('padding-left', 100, 160);
  @include mixins.size('padding-top', 40, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  @include mixins.size('font-size', 20, 50);
  font-weight: 500;
  position: relative;
  &:after {
    @include mixins.size('height', 2, 2);
    content: "";
    width: 100%;
    background-color: mixins.$orange;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.content {
  display: flex;
  @include mixins.size('margin-top', 20, 50);
  @include mixins.for-mobile {
    flex-direction: column;
  }
}
.contentImgWrapper {
  @include mixins.size('width', null, 548);
  @include mixins.size('height', 300, 354);
  @include mixins.for-mobile {
    width: 100vw;
  }
}
.contentImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.contentText {
  @include mixins.size('margin-left', null, 30);
  @include mixins.size('width', 250, 450);
  @include mixins.size('margin-top', 60, 100);
  @include mixins.size('font-size', 10, 25);
  @include mixins.for-mobile {
    @include mixins.size('margin-bottom', 60, 100);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
.advantages {
  @include mixins.size('padding-right', 20, 360);
  @include mixins.size('padding-left', 20, 360);
  @include mixins.size('padding-top', 10, 64);
  @include mixins.size('padding-bottom', 10, 64);
  @include mixins.size('margin-top', 0, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: mixins.$lightOrange;
}

.advantagesBox {
  @include mixins.size('width', 90, 168);
  @include mixins.size('height', 80, 93);
  border: 1px solid mixins.$dark-blue;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.advantagesHeader {
  @include mixins.size('font-size', 14, 25);
  @include mixins.size('margin-bottom', 8, 8);
}
.advantagesSubHeader {
  @include mixins.size('font-size', 8, 12);
  opacity: 0.5;
}
