@use 'src/styles/mixins';
@import 'src/styles/varibles';

.formWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.size('margin-top', 20, 20);
  @include mixins.size('margin-bottom', 50, 50);
}
.form {
  position: relative;
  @include mixins.size('width', 859, 859);
  @include mixins.size('height', 74, 74);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  @include mixins.for-mobile {
    flex-direction: column;
  }
}
.contentWrapper {
  @include mixins.size('width', null, 705);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  @include mixins.size('width', 70, 136);
  @include mixins.size('height', 20, 48);
  @include mixins.size('margin-top', 0, 24);
  @include mixins.size('margin-left', 0, 18);
  @include mixins.size('border-radius', 12, 12);
  @include mixins.size('font-size', 8, 14);
  background-color: mixins.$light-blue;
  color: $white;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: mixins.$dark-blue;
  }
}
