@use 'src/styles/mixins';

.wrapper {
  @include mixins.size('padding-right', 10, 128);
  @include mixins.size('padding-left', 10, 128);
  @include mixins.size('padding-bottom', 20, 20);
  @include mixins.size('min-height', 400, 1000);
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include mixins.size('grid-column-gap', 15, 29);
  @include mixins.size('grid-row-gap', 15, 30);
  @include mixins.for-mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}
.msg {
  @include mixins.size('font-size', 16, 20);
  @include mixins.size('margin-top', 40, 100);
  text-align: center;
  font-weight: 600;
  line-height: 1.4;
}
