@use 'src/styles/mixins';
@import 'src/styles/varibles';

.btnWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  @include mixins.size('width', 150, 274);
  @include mixins.size('height', 40, 44);
  @include mixins.size('margin-top', 40, 40);
  @include mixins.size('margin-bottom', 30, 40);
  @include mixins.size('border-radius', 12, 12);
  background-color: mixins.$orange;
  color: white;
  cursor: pointer;
}
